<section>
  <form role="search" method="GET" action="/booklist">
    <div class="input-group mt-5 mx-auto custom-search-bar">
      <input
        class="form-control rounded-0 custom-search-input"
        type="search"
        placeholder="Search..."
        aria-label="Search"
        name="q"
      />
      <button class="btn custom-search-btn px-4 rounded-0" type="submit">
        <i class="bi bi-search mag-color"></i>
        <span class="visually-hidden">Search</span>
      </button>
    </div>
  </form>
  <a class="nav-href book-list" href="/booklist">Book List</a>
</section>
<img
  class="home-img"
  src="/images/ancient-library-alex.jpg"
  alt="Library of Alexandria"
/>
