<section>
  <form role="search">
    <div class="input-group mt-5 mx-auto custom-search-bar">
      <input
        class="form-control rounded-0 custom-search-input"
        type="search"
        placeholder="Search..."
        aria-label="Search"
      />
      <button class="btn custom-search-btn px-4 rounded-0" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
  <a class="nav-href book-list" href="">Book List</a>
</section>
<img
  class="home-img"
  src="/images/ancient-library-alex.jpg"
  alt="Library of Alexandria"
/>
