<!-- <form role="search">
  <div class="input-group mt-5 mx-auto w-50">
    <input
      class="form-control rounded-0"
      type="search"
      placeholder="Search..."
      aria-label="Search"
    />
    <button class="btn custom-search-btn px-4 rounded-0" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
</form> -->
<form role="search">
  <div class="input-group mt-5 ms-4 d-flex justify-content-center">
    <input
      class="form-control rounded-0 w-20"
      type="search"
      placeholder="Search..."
      aria-label="Search"
    />
    <button class="btn custom-search-btn px-4 rounded-0" type="submit">
      <i class="bi bi-search"></i>
    </button>
  </div>
</form>

<img
  class="home-img"
  src="/images/ancient-library-alex.jpg"
  alt="Library of Alexandria"
/>
