<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      <% if (typeof page !== "undefined" && title) { %> <%= title %> <% } else {
      %> Library Management System <% } %>
    </title>
    <link
      rel="stylesheet"
      href="/bootstrap-5.3.8/dist/css/custom-bootstrap.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <% if (typeof page !== "undefined" && cssPage) { %>
    <link rel="stylesheet" href="/css/pages/<%= cssPage %>" />
    <% } %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-color">
      <div class="container-fluid">
        <h1 class="navbar-brand">Library Management System</h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item me-3">
              <a class="nav-href" href="/">Home</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-href" href="">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-href" href="">Log in to your account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%- typeof page !== "undefined" && page ? include(page) :
    include("../partials/error.ejs") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
