<% if (typeof successMsg==="string" && successMsg.length> 0) { %>

    <div class="register-success">
        <strong>Success:</strong>
        <%= successMsg %>
    </div>
    <% } %>
        <% if (typeof errorMsg==="string" && errorMsg.length> 0) { %>
            <div class="login-error">
                <strong>Error:</strong>
                <%= errorMsg %>
            </div>
            <% } %>
                <button type="submit" class="btn btn-success add-book" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Add New Book
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-0">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Add New Book</h1>
                                <button type="button" class="btn-close opacity-100" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/books/add" method="POST">
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" name="authors" class="form-control" id="authors" name="authors"
                                            placeholder="Author(s) (comma-separated)" required>
                                        <label for="authors">Author(s) (comma-separated)</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="publicationYear"
                                            name="publicationYear" placeholder="Publication Year" required>
                                        <label for="publicationYear">Publication Year</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" name="isbn" class="form-control" id="isbn" placeholder="ISBN#" required maxlength="13" pattern="^\d{9}[\dX]$|^\d{13}$">
                                        <label for="isbn">Enter 10 or 13 digits (or 'X' for ISBN-10)</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="number" name="pageCount" class="form-control" id="pageCount"
                                            name="pageCount" placeholder="Page Count" required min="1">
                                        <label for="pageCount">Page Count</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="url" name="imageUrl" class="form-control" id="imageUrl" name="imageUrl"
                                            placeholder="https://example.com" pattern="https://.*" required>
                                        <label for="imageUrl">Book Image URL</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="number" name="copies" class="form-control" id="copies" name="copies"
                                            placeholder="Number of Copies" required min="1">
                                        <label for="copies">Number of Copies</label>
                                    </div>

                                    <div id="copyIdInputsContainer" class="mb-3"></div>

                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="desc" name="description"
                                            placeholder="Description" style="height: 100px;"></textarea>
                                        <label for="desc">Description</label>
                                    </div>
                                    <div class="modal-footer book-foot">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-success apply-changes">Apply changes</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>