<% if (typeof successMsg==="string" && successMsg.length> 0) { %>

    <div class="register-success">
        <strong>Success:</strong>
        <%= successMsg %>
    </div>
    <% } %>
        <% if (typeof errorMsg==="string" && errorMsg.length> 0) { %>
            <div class="login-error">
                <strong>Error:</strong>
                <%= errorMsg %>
            </div>
            <% } %>
                <button type="submit" class="btn btn-success add-book" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Add New Book
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-0">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Add New Book</h1>
                                <button type="button" class="btn-close opacity-100" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/books/add" method="POST">
                                <%- include("../../partials/book-form.ejs") %>
                            </form>
                        </div>
                    </div>
                </div>