.navbar-color {
    background-color: #889E70 !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-href {
    color: #000000;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
