<a href="/" class="back-link">&larr; Back to Home</a>
<main class="login-container">
  <form action="/login" method="POST">
    <% if (typeof successMsg === "string" && successMsg.length > 0) { %>

    <div class="register-success">
      <strong>Registration successful!</strong>
      <%= successMsg %>
    </div>
    <% } %>
    <% if (typeof errorMsg === "string" && errorMsg.length> 0) { %>
    <div class="login-error">
      <strong>Login Error:</strong>
      <%= errorMsg %>
    </div>
    <% } %>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username"
        name="username"
        required
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
        required
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 mb-3" type="submit">Sign in</button>
    <p>Not registered? <a href="/register">Register</a></p>
  </form>
</main>
