.register-success {
  background-color: #d4edda;
  color: #155624;
  margin: 10px;
  padding: 15px;
}

.login-error {
  background-color: #f2dede;
  color: #773231;
  margin: 10px;
  padding: 15px;
}

.add-book {
  margin: 10px 0 0 10px;
}

.book-foot {
  padding-bottom: 0px;
  padding-right: 0px;

}

.apply-changes {
  margin-right: 0px;
}
