.form-control:focus {
  box-shadow: none;
}

.custom-search-bar {
  width: 25em;
}

.custom-search-input {
  border-color: black;
}

.custom-search-input::placeholder {
  color: black;
}

.custom-search-btn, .custom-search-btn:hover {
  background-color: #889e70 !important;
  border: 0;
  transition: none;
}

.mag-color {
  color: black;
}

.book-list {
  margin: 1em auto auto auto;
  display: table;
}

.home-img {
  display: block;
  margin: 1em auto auto auto;
  width: 25em;
}
