.home-img {
  display: block;
  margin: 2em auto auto auto;
  max-width: 25em;
}

.custom-search-btn, .custom-search-btn:hover {
  background-color: #889e70 !important;
  border: 0;
  transition: none;
}

.form-control:focus {
  box-shadow: none;
}
