.loans-main {
  margin: 0 0.5% 0 0.5%;
}

.loans {
  font-size: x-large;
}

.loan-detail-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5px 5px 5px 5px;
  margin: 20px 0 0 0;
}

.register-success {
  background-color: #d4edda;
  color: #155624;
  margin-bottom: 20px;
  margin: 20px 0 20px 0;
  padding: 15px;
}

.login-error {
  background-color: #f2dede;
  color: #773231;
  margin: 20px 0 20px 0;
  padding: 15px;
}

.loan-title {
  font-size: medium;
}

.authors {
  font-size: small;
  margin-bottom: 0;
}

.loan-img {
  margin: 5px 0 5px 0;
}

.due {
  font-size: small;
  margin-bottom: 10px;
}
