body {
  background-color: #889e70;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.back-link {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: white;
}

.register-container {
  background-color: white;
  padding: 30px 30px 0 30px;
  width: 100%;
}

@media screen and (min-width: 501px) {
  .register-container {
    width: 90%;
  }
}

@media screen and (min-width: 772px) {
  .register-container {
    max-width: 695px;
  }
}

.register-error {
  background-color: #f2dede;
  color: #773231;
  margin-bottom: 20px;
  padding: 15px;
}
