body {
  background-color: #889e70;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.back-link {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: white;
}

.register-container {
  background-color: white;
  padding: 30px 30px 0 30px;
}
