<main class="loans-main">
  <header>
    <h2 class="loans">Loans</h2>
    <p># Loans</p>
  </header>

  <article class="loan-detail-container">
    <h3 class="loan-title">title</h3>
    <p class="authors">Authors</p>
    <p class="due">Due:</p>
    <button type="button" class="btn btn-success">Check In</button>
  </article>
</main>
